/doc/
/libs/
/.crystal/
/.shards/

/.vscode/
/spec/test-lib/libtest-lib.*
/spec/test-lib/test-lib.o


# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock

